.portfolio {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.port {
    width: 30em;
}
.melodie {
  width: 30em;
  margin-bottom: 1em;
}
.jeu {
    margin: 0;
}
