body{
    background: #2d3748;;
     color: white;
}
.content {
  text-align: center;
  
}

.texte {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black; 
  font-family: monospace;
  font-size: 4rem;
  animation: typing 3s steps(24) forwards, blink 0.5s step-end infinite alternate;
  margin: 0;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh; 
  
}



.avatar img {
  height: 80vh;
  width: 50vh;  /* Garde les proportions */
  max-width: 50vw;  /* Ne dépasse pas 50% de l'écran */
  object-fit: cover;
  border-radius: 5%;
}
.spacer {
  width: 100px;  
  flex-shrink: 0;
  visibility: hidden; 
}
h2 {
    font-size: 3rem;
    margin: 0;
}

p{
    font-size: 1.5em;
}



@keyframes typing {
  from { width: 0; }
  to { width: 24ch; } 
}
@keyframes blink {
  0%, 100% { border-color: black; }
  50% { border-color: transparent; }
}