.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
article {
    width: 100vh;
    display: flex;
    justify-content: space-around;
    
}
.icone img{
    height: 40px;
}
.propo {
    font-size: 4rem;
    margin: 0;
}
.info{
    font-size: 3rem;
    margin: 2em;
}
.mail{
    color: white;
}
.mail:hover {
    color: black;
}