.nav {
  position: fixed;           
  top: 35%;                  
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.nav a {
  display: inline-block;  
  position: relative;   
}

.nav img {
  width: 50px;
  display: block;            
  cursor: pointer; 
}

.nav span {
  display: none;
  position: absolute;
  right: 60px;
  background-color: #252525;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
   top: 50%;               
  transform: translateY(-50%);
  
}
.nav a:hover span {
  display: block;
}